/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  .element {
    font-family: var(--system-ui);
  }

:root {
    --right-padding: 32px;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    
}

.left {
    background-image: url("anna-kovalova.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: min(40rem, 600px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: rgba(0, 0, 0, 0.39);
    width: 100%;
    font-family: 'Roboto Slab', serif;
}

.title p {
    color: white;
    font-size: 4.5em;
}

svg {
    height: 10em;
}

.photo-credit {
    position: absolute;
    bottom: 0;
    padding: 10px;
    color: white;
}

.photo-credit a {
    color: white;
}

.right {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 60rem;
    background: linear-gradient(white, rgb(208, 255, 208))
}

.right-header {
    padding: var(--right-padding);
    padding-left: 50px;
    width: 90%;
    font-size: 1.2em;
}

.right-header p {
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    color: black;
}

.right-header .prompt-2 {
    margin-top: 30px;
    margin-bottom: 50px;
}

.container {
    padding: var(--right-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 16px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 3px rgb(185, 185, 185);
    
}

.info-row {
    display: flex;
    gap: 42px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

label {
    color: rgb(136, 136, 136)
}

.input-box{
    width: 25em;
    background-color: white;
    border: 1px solid rgb(59, 59, 59);
    border-radius: 3px;
}

input:focus {
    border: none;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
    outline: none;
    }

input:invalid:focus {
    border: 2px solid rgb(255, 69, 100)
}

input:focus:valid {
    border: rgb(0, 183, 255) 2px solid;
}

.error {
    color: rgb(255, 69, 100);
    position: absolute;
}

.right-footer {
    padding: var(--right-padding);
}

.submit-button {
    padding: 18px;
    width: 250px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(99, 136, 97);
    color: white;
    font-size: larger;
}

.log-in {
    margin-top: 30px;
}

.log-in a {
    text-decoration: none;
    font-weight: 600;
    color: rgb(44, 70, 44)
}
